body{
  background-image: url( 'so-white.png') ;
  color: Black;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%
}

.exp-header {
  text-transform: uppercase;
 
}

p.employer, p.position {
  display : flex;
  justify-content: space-between;
} 

p.employer {
  border-bottom : 1px double ;
}
